.app-row{
  margin-bottom: 40px;
}
.counter-container{
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  background-color: rgb(137, 126, 146);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 40px;
}
.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
button{
  width: 50px;
  background-color: aquamarine;
  color: 000;
}

.recomd-hdng{
  color: #000;
  font-size:26px;
}

.moveName{
  color: rgb(34, 34, 34);
  font-family: Roboto;
  font-size:26px;
  font-weight: 500;
}
.MoveType {
  font-size: 19px;
  color: #000;
  margin-top: -17px;
}
.bookmyshowBanr{
  display: block;
  margin: 0 auto;
}
.baner-img{
  display: block;
  margin: 0 auto 32px;
}
.movieCard {
  display: flex;
  width: 100%;
  /* flex-wrap: nowrap; */
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  /* column-gap: 20px; */
}
.movieCard img {
  display: block;
  margin: 0 0 0 0;
  height: 378px;
  border-radius: 10px;
}
